
{% extends "base.html" %}
{% block title %}Password Policy{% endblock %}
{% block style %}
<style>
      body{
    background:#f3c538;
}
.forget-pwd > a{
    color: #dc3545;
    font-weight: 500;
}
.forget-password .panel-default{
    padding: 31%;
    margin-top: -27%;
}
.forget-password .panel-body{
    padding: 15%;
    margin-bottom: -50%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ppolicy{
    padding: 5%;
    margin-bottom: -50%;
    background: #ffffff93;
    border-radius: 5px; 
}
img{
    width:40%;
    margin-bottom:10%;
}
.btnForget{
    background: #c0392b;
    border:none;
}
.forget-password .dropdown{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.forget-password .dropdown button{
    width: 100%;
}
.forget-password .dropdown ul{
    width: 100%;
}
</style>
{% endblock %}
{% block content %}

<div>
    <div class="row">
        <div class="col-md-12 col-md-offset-4" id="ppolicy">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Length: Your password must be at least 8 characters long. We recommend using a longer password for increased security.</p>
                    <p>Complexity: Your password should include a combination of uppercase and lowercase letters, numbers, and special characters (e.g., !@#$%^&*).</p>
                    <p>Avoid Common Patterns: Do not use easily guessable patterns such as "12345678" or "password."</p>
                    <p>Unique Password: Your password should be unique and not used for any other accounts or services.</p>
                    <p>Regular Updates: Change your password periodically, ideally every 90 days.</p>
                    <p>No Personal Information: Avoid using personal information like your name, birthdate, or address as part of your password.</p>
                    <p>Avoid Dictionary Words: Do not use common dictionary words as your password. Instead, consider using a passphrase or a combination of unrelated words.</p>
                    <p>Do Not Share: Never share your password with anyone, including coworkers or supervisors.</p>
                    <p>Enable Two-Factor Authentication (2FA): Whenever possible, enable two-factor authentication for an additional layer of security.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  
{% endblock %}
